<launch>
  
  <arg name="freq" default="10"/>
  
  <node 
   name="talker" 
   pkg="beginner_tutorials" 
   type="talker"
   required="true" 
   output="screen"
  >
  <param name = "freq" value="$(arg freq)"/>
  </node>
  
  <node 
   name="listener" 
   pkg="beginner_tutorials" 
   type="listener"
   launch-prefix="xterm -e" 
   output="screen"
  />
  
  <test 
   pkg="beginner_tutorials" 
   test-name="talkerTest" 
   type="talkerTest"
  />
  
</launch>