<launch>  
  
  <arg name="freq" default="10"/>
  <arg name="Record" default="false"/>
  
  <node
   name="talker"
   pkg="beginner_tutorials"
   type="talker"
   required="true"
   output="screen"
  >
  <param name="freq" value="$(arg freq)"/>
  </node>

  <node 
   name="listener"
   pkg="beginner_tutorials" 
   type="listener"
   launch-prefix="xterm -e" 
   output="screen"
  />

  <node 
   name="record"
   pkg="rosbag"
   type="record"
   args="--duration=15.0 -a -O $(find beginner_tutorials)/results/record.bag"
   if="$(arg Record)" 
  />

</launch>